/* a:link{color:blue;}
a:visited{color:purple}
a:hover{color:red;}
a:focus {color: orange;}
a:active {color:green;} */
html{
	background-color: #997200;
	background-image: url('../images/tree_of_life.png');
	background-size: 500px 500px;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	
}
